import React, { Component } from 'react';
import PropTypes from 'prop-types';
import './styles/COMPONENT_NAME.STYLE_EXT';

class COMPONENT_NAME extends Component {
    render() {
        return (
            <div>
                {this.props.title}
            </div>
        );
    }
};

COMPONENT_NAME.propTypes = {
    title: "COMPONENT_NAME Component" 
};

COMPONENT_NAME.defaultProps = {

};

COMPONENT_NAME.displayName = "COMPONENT_NAME"

export default COMPONENT_NAME;